<ion-view view-title="Career">
  <ion-content>
    <body>
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{occupation.image}}">
      <h2>{{occupation.name}}</h2>
      <p>{{occupation.title}}</p>

    </div>

  <div class="item item-body">
    <img height="100" width="100" src="{{occupation.image}}">
    <p>{{occupation.bio}}</p>
    <p>{{occupation.accomplishments}}</p>
    <p>
      <a href="#" class="subdued">
        <button class = "closing" onClick = "javascript:close_clip()"><img src="img/learnmore.png"/></button>
    </p>
  </div>

  </div>
  </body>
  </ion-content>
</ion-view>
